<?xml version="1.0"?>

<launch>
    <arg name="ns0" default="jackal0"/>
    <arg name="ns1" default="jackal1"/>
    <arg name="ns2" default="jackal2"/>
    <arg name="ns3" default="jackal3"/>
    <arg name="ns4" default="jackal4"/>
    <arg name="ns5" default="jackal5"/>

    <node pkg="multi_control" type="goal_with_move_base" name="goal_monitor" args="0" output="screen" ns="$(arg ns0)">
        <param name="color_r" value="0.8"/>
        <param name="color_g" value="0.0"/>
        <param name="color_b" value="0.0"/>
    </node>
    <node pkg="multi_control" type="goal_with_move_base" name="goal_monitor" args="1" output="screen" ns="$(arg ns1)">
        <param name="color_r" value="0.0"/>
        <param name="color_g" value="0.8"/>
        <param name="color_b" value="0.0"/>    
    </node>
    <node pkg="multi_control" type="goal_with_move_base" name="goal_monitor" args="2" output="screen" ns="$(arg ns2)">
        <param name="color_r" value="0.0"/>
        <param name="color_g" value="0.0"/>
        <param name="color_b" value="0.8"/>    
    </node>
    <node pkg="multi_control" type="goal_with_move_base" name="goal_monitor" args="3" output="screen" ns="$(arg ns3)">
        <param name="color_r" value="0.8"/>
        <param name="color_g" value="0.0"/>
        <param name="color_b" value="0.0"/>
    </node>
    <node pkg="multi_control" type="goal_with_move_base" name="goal_monitor" args="4" output="screen" ns="$(arg ns4)">
        <param name="color_r" value="0.0"/>
        <param name="color_g" value="0.0"/>
        <param name="color_b" value="0.8"/>    
    </node>
    <node pkg="multi_control" type="goal_with_move_base" name="goal_monitor" args="5" output="screen" ns="$(arg ns5)">
        <param name="color_r" value="0.0"/>
        <param name="color_g" value="0.8"/>
        <param name="color_b" value="0.0"/>    
    </node>
</launch>
